
html, body {
    padding: 0;
    margin: 0;
    color: gray-4;
}

* {
    box-sizing: border-box;
}

.gridster{
    max-width: 1280px;
    margin: 0 auto;
  ul{
    list-style: none;
    padding: 0;
  }
  li{
    background: gray-1;
    :after {
      content: "\0020";
      display: block;
      clear: both;
      visibility:
      hidden;
      line-height: 0;
      height: 0;
    }
  }
}
