.stock-widget
    background green-4
    height: 100%
    color white
    svg
        position: absolute
        bottom 0

.axis path .axis line
    fill none
    stroke #000
    shape-rendering crispEdges

.area
    fill blue-3
