@import '_*.styl'

.git-widget
  h3
    font-size: 14px
  ul
    overflow: hidden
  .git-projects-list
    column-count: 4
    -moz-column-count: 4
    -webkit-column-count: 4
    li
      font-size: 11px
  img.git-commit-thumbnail
    width: 150px
    height: 150px
    max-width: 100%
    float:left
    display: inline
    margin: 0px 5px 0px 10px
  .flexslider-container
    margin: 8px
