
/* line 1 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/app/styl/main.styl */

/* line 2 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 297 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 23 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 3 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 31 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 23 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 94 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 94 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 23 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 9 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 73 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 15 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 23 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 14 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 94 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 94 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 576 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 576 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 22 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/app/styl/_0.vars.styl */

/* line 2 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/app/styl/_1.main.styl */

/* line 2 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/app/styl/_1.main.styl */
html,
body {
  padding: 0;
  margin: 0;
  color: #7f8c8d;
}

/* line 8 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/app/styl/_1.main.styl */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/app/styl/_1.main.styl */
.gridster {
  max-width: 1280px;
  margin: 0 auto;
}

/* line 15 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/app/styl/_1.main.styl */
.gridster ul {
  list-style: none;
  padding: 0;
}

/* line 19 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/app/styl/_1.main.styl */
.gridster li {
  background: #ecf0f1;
}

/* line 21 : /Users/ashtonharris/Dropbox/Sites/dsed-angular/app/styl/_2.substyle.styl */
