
/* line 9 : /Users/aworcester/Documents/Personal/app-stack/app/styl/main.styl */

/* line 2 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 297 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 6 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 3 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 31 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 6 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 94 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 94 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 23 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 9 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 73 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 15 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 6 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 14 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 94 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 94 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 576 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 576 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/aworcester/Documents/Personal/app-stack/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_0.vars.styl */

/* line 2 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */

/* line 2 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */
html,
body {
  padding: 0;
  margin: 0;
  color: #777;
}

/* line 8 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */
.new-item {
  background-color: #9db8e1;
  padding: 20px;
  margin: 0;
  -webkit-box-shadow: 0 -5px 10px 10px #ccc;
  box-shadow: 0 -5px 10px 10px #ccc;
}

/* line 18 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */
.new-item h2 {
  color: #fff;
  margin-top: 0;
}

/* line 24 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */
.item-list {
  padding: 30px 0;
  margin: 0;
}

/* line 28 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */
.item-list ul {
  list-style-type: none;
  padding: 0;
}

/* line 32 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */
.item-list ul li {
  font-size: 18px;
  padding: 10px 22px;
  border-top: 1px solid #dde6f5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 39 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */
.item-list ul li:nth-child(even) {
  background-color: #f5f8fc;
}

/* line 43 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */
.item-list ul li:last-child {
  border-bottom: 1px solid #dde6f5;
}

/* line 47 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */
.item-list ul li:hover {
  color: #fff;
  background-color: #9db8e1;
}

/* line 52 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_1.main.styl */
.item-list ul li.done {
  text-decoration: line-through;
  color: #ccc;
  background-color: #f0f0f0;
}

/* line 6 : /Users/aworcester/Documents/Personal/app-stack/app/styl/_2.substyle.styl */
