<div class="world-clock-wrapper">
	<div class="clock-icon"><a class="clock icon" title="Clock" href="#"></a></div>
	<div class="world-clock-content">
		<h1>Conshohocken, PA
			<span>United States</span>
		</h1>
		<ul class="team-members">
			<li>
				<strong>Firstname Lastname</strong>, Tech Lead
				<span>Nintendo Luma</span>
			</li>
			<li>
				<strong>Firstname Lastname</strong>, Developer
				<span>Vertical Screen Redesign</span>
			</li>
			<li>
				<strong>Firstname Lastname</strong>, Developer
				<span>Sportchek</span>
			</li>
			<li>
				<strong>Firstname Lastname</strong>, Designer
				<span>Sportchek</span>
			</li>
			<li>
				<strong>Firstname Lastname</strong>, User Experience
				<span>Sportchek</span>
			</li>
		</ul>
	</div>
</div>