<div class="world-clock-wrapper">
	<div class="clock-icon"></div>
	<h1>Conshohocken, PA
		<span>United States</span>
	</h1>
	<ul>
		<li>
			Firstname Lastname, Tech Lead
			<span>Nintendo Luma</span>
		</li>
		<li>
			Firstname Lastname, Developer
			<span>Vertical Screen Redesign</span>
		</li>
		<li>
			Firstname Lastname, Developer
			<span>Sportchek</span>
		</li>
		<li>
			Firstname Lastname, Designer
			<span>Sportchek</span>
		</li>
		<li>
			Firstname Lastname, User Experience
			<span>Sportchek</span>
		</li>
	</ul>
</div>