<div class="git-widget"
     ng-controller="GitController">

    <header>
        <h2>Git</h2>
    </header>

    <h3 class="git-projects-title">Projects</h3>
    <ul class="git-projects-list">
        <li ng-repeat="project in model.projects">{{ project.name }}</li>
    </ul>

    <h3 class="git-projects-title">Recent Commits</h3>
    <flex-slider
        slide="commit in model.commits track by commit.id"
        control-nav="true"
        randomize="true">
        <li>
            <p>
                <img class="git-commit-thumbnail"
                    ng-src="https://git.epam.com{{commit.thumbnail.url}}">
                {{ commit.updated | date:'medium' }} - <a href="{{ commit.link.href }}">{{ commit.title }}</a>
            </p>
        </li>
    </flex-slider>

    <!--
    <li>
        <i class="fa fa-fw state fa-pause"></i>
        <span class="hour">11:45</span> In pharetra suscipit orci sed viverra.
        Praesent at.
    </li>
    -->

</div>